{% extends "/base.jinja" %}
{% block main_body %}
<div class="post-listing post-container posts">
    {% for post in postsPager.items %}
    <section class="post">
      <header class="post-header">
        <h2 class="post-title"><a href="{{ post.slug }}">{{ post.title }}</a></h2>
        <p class="post-meta">
          By <a class="post-author" href="#">{{ post.author }}</a> {% if post.tags %}under {% for tag in tags %}fd <a class="post-category" href="#">{{ tag }}</a>{% endfor %}{% endif %}
        </p>      

      </header>
      <div class="post-bodyHtml post-description">
            {{ post.summary }}
            <div><a href="{{ post.slug }}">Read more</a></div>
      </div>
    </section>
    {% endfor %}
</div><!--/listing-->
{% endblock %}
