{% extends "/base.jinja" %}
{% block main_content %}
<div class="post-listing post-container">
    {% for post in postsPager.items %}
    <section class="post">
        <h2 class="post-title"><a href="{{ post.slug }}">{{ post.title }}</a></h2>
        <div class="post-byline">{% if post.author %}by {{ post.author }} at{% endif %} {{ utils.formatLocalDate(post.publishDate) }}</div>
        <div class="post-bodyHtml">
            {{ post.summary }}
            <div><a href="{{ post.slug }}">Read more</a></div>
        </div>
    </section>
    {% endfor %}
</div><!--/listing-->
{% endblock %}
