{% extends "/base.jinja" %}
{% block main_body %}
<div class="posts">
  <section class="post">
    <header class="post-header">
      <h2 class="post-title">{{ page.title }}</h2>
      <p class="post-meta">
        By <a class="post-author" href="#">{{ page.author }}</a> {% if page.tags %}under {% for tag in tags %}fd <a class="post-category" href="#">{{ tag }}</a>{% endfor %}{% endif %}
      </p>      
    </header>
    <div class="post-description">
      {{ page.content }}
    </div>
  </section>
  <div class="commenting">
    {{ commenting.renderComments(post.compoundId) }}
    {{ commenting.renderForm(post.compoundId, post.permalink, post.title) }}
  </div>
</div>
{% endblock %}
