<form class="st-comment-form st-form pure-form pure-form-stacked" id="st-comments-form-{{ commentThreadIdSlug }}">
  <h3 class="st-form-header comments-header write-comment">Write a comment</h3>
  <input type="hidden" value="{{ commentThreadId }}" name="threadId" >
  <input type="hidden" value="" name="editingCommentId">
  <input type="hidden" value="{{ parentTitle }}" name="parentTitle">
  <input type="hidden" value="{{ parentPermalink }}" name="parentPermalink">
  <div class="st-error-wrap"></div>
  <div class="comment-field-wrapper form-group st-field">
    <textarea class="form-control st-control comment-body-ta" name="bodyMarkdown" placeholder="Type your comment here. Markdown and basic HTML is supported." required="true"></textarea>
  </div>
  <div class="form-group st-field hidden-at-first">
    <label>Your name</label>
    <input class="form-control st-control" value="" type="text" name="authorDisplayName" placeholder="Jamie Doe">
  </div>
  <div class="form-group st-field hidden-at-first">
    <label>Your email address (will be kept private)</label>
    <input class="form-control st-control" value="" type="email" name="authorEmail" placeholder="me@domain.com" required="true">
  </div>
  <div class="form-group st-field hidden-at-first">
    <label>Your website (optional)</label>
    <input class="form-control st-control" value="" type="text" name="authorWebSite" placeholder="http://myblog.com">
  </div>
  {% if reCaptchaSiteKey %}
  <div class="hide-on-edit">
    <div class="recaptcha-wrapper form-group st-field hidden-at-first">
      <div class="g-recaptcha" data-sitekey="{{ reCaptchaSiteKey }}"></div>
    </div>
  </div>
  {% endif %}
  <div class="hide-on-edit">
    <div class="form-group st-field hidden-at-first">
      <label><input type="checkbox" name="mentionSubscribe" value="true" checked> Get a daily email of unread direct replies and mentions?</label>
    </div>
    <div class="form-group st-field hidden-at-first">
      <label><input type="checkbox" name="threadSubscribe" value="true"> Get a daily email of all unread comments on this thread?</label>
    </div>
  </div>
  <div class="st-actions">
    <button class="btn btn-primary btn-xml pure-button pure-button-primary st-button-submit">Submit Comment</button>
    <a class="st-cancel-link" style="display:none; margin-left;" href="javascript:stallion_plugin_comments.cancelEditComment('{{ commentThreadIdSlug }}')">Cancel editing comment</a>
  </div>
  <p>&nbsp;</p>
</form>
