
<h4>Submission Information</h4>
<table>
    <tr>
        <td colspan="2"><h4>Submission Information</h4></td>
    </tr>
    <tr>
        <td>Page title</td>
        <td>{{ submission.pageTitle }}</td>
    </tr>
    <tr>
        <td colspan="2"><h4>Contact Information</h4></td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{ contact.email }}</td>
    </tr>
</table>

