{% extends "stallion:admin/base-scaffold.jinja" %}
{% block extra_head %}
<link href="/_stx/flatBlog/assets/subscriptions.css" rel="stylesheet" />
{% endblock %}
{% block body_content %}
<div id="st-comments-dashboard-content" class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <h1>Subscriptions</h1>
      <div id="example"></div>
      <div id="subscriptions-table-wrap">

      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div><!--end row-->
</div>
{% endblock %}

{% block pre_end_body %}
<script type="text/javascript">
  window.st_contacts_context = {
      subscriptions: {{ subscriptionsSafeJson }},
      contact: {{ contact }}
  }
</script>
<script type="text/jsx" src="/st-resource/flatBlog/my-subscriptions.jsx?processor=jsx")></script>
{% endblock %}

