This is a page. The form is here:
<!-- start form -->
{% contact_form id="the-test-form" class="my-form" %}
<h1>This is a contact form!</h1>
<h2>Edit the item: {{ itemName }}</h2>
<div class="form-group">
    <label>First name</label>
    <input type="text" class="form-control" name="givenName">
</div>
{% endform %}
<!--end form -->
The form has gone by. Now we are text again.