{% extends "base.jinja" %}
{% block "main_content" %}
<div class="container inner-page">
    <div class="row">
        <div class="col-md-3 sidebar">
            <header id="small-logo">
                <h4>Stallion</h4>
                <a href="/"><img src="{{ assets.url('/stallion-rearing-red-299.png') }}"></a>
            </header>
        </div><!--end sidebar-->
        <div class="col-md-9 main-column">
            <h1>{{ page.title }}</h1>
            {{ page.content }}
        </div><!--end main column-->
    </div><!--end row -->
</div><!--end container-->
{% endblock %}
